@charset "utf-8";

@font-face {
  font-family: YuGo;
  src: url("../font/yugothib.ttf")
}

body {
  font-family: YuGo, YuGothic, Meiryo;
  height:100%;
}

/* MENUS */

#shops, #jeans {
  z-index: 20;
}

#pocket, #layer{
  width: 50%;
}

.ajinolimited{
  display: none;
}

/* OPTIONS BUTTON */
#pocket button, #layer button, #pattern button, #color button {
  margin-top: 0.3em;
}

button:disabled{
  background-color: #bbb!important;
  color: #eee!important;
}

/* COLORS */
.ajino {
  color: #eee !important;
  background-color: #0072bc !important
}

.okayama {
  color: #eee !important;
  background-color: #0db14b !important
}

.aoyama {
  color: #eee !important;
  background-color: #58595b !important
}

.koenji {
  color: #eee !important;
  background-color: #903f98 !important
}

.osaka {
  color: #111 !important;
  background-color: #fff200 !important
}

.kyoto {
  color: #eee !important;
  background-color: #684927 !important
}

.web {
  color: #eee !important;
  background-color: #FA8E43 !important;
}

.momoshop{
  color: #111 !important;
  background-color: #ccc !important
}

.white {
  color: #ffffff !important;
  background-color: #ffffff !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px #111;
  -moz-box-shadow: inset 0px 0px 0px 1px #111;
  box-shadow: inset 0px 0px 0px 1px #111
}

.red {
  color: #E60013 !important;
  background-color: #E60013 !important
}

.pink {
  color: #E23688 !important;
  background-color: #E23688 !important
}

.pearl {
  color: #F1AEC3 !important;
  background-color: #F1AEC3 !important
}

.gold {
  color: #ECE95D !important;
  background-color: #ECE95D !important
}

.black {
  color: #000000 !important;
  background-color: #000000 !important
}

.font-ajino {
  color: #0072bc !important
}

.font-okayama {
  color: #0db14b !important
}

.font-aoyama {
  color: #58595b !important
}

.font-koenji {
  color: #903f98 !important
}

.font-osaka {
  color: #fff200 !important;
  text-shadow: 0px 0px 1px #333;
}

.font-kyoto {
  color: #684927 !important
}

.font-web {
  color: #FA8E43 !important;
}

.font-momoshop {
  color: #ccc !important;
  text-shadow: 0px 0px 1px #333;
}

.font-black {
  color: #000000 !important
}

/* IMAGES */
#rP, #lP{
  padding: 16px
}

.svgundefined{
  fill: rgba(255,255,255,0.0);
}

.svgwhite {
  fill: #fff;
}

.svgred {
  fill: #EB3228;
}

.svgpink {
  fill: #F26284;
}

.svgpearl {
  fill: #F597A5;
}

.svggold {
  fill: #E4DE31;
}

.svgblack {
  fill: #000;
}

.svgajino {
  fill: #0072BC;
}

.svgokayama {
  fill: #0DB14B;
}

.svgaoyama {
  fill: #58595B;
}

.svgkoenji {
  fill: #903F98;
}

.svgosaka {
  fill: #FFF200;
}

.svgkyoto {
  fill: #684927;
}

.svgweb {
  fill: #FA8E43;
}

.svgmomoshop {
  fill: #ccc;
}
