@charset "utf-8";

@font-face {
  font-family: YuGo;
  src: url("../font/yugothib.ttf")
}

body {
  font-family: YuGo, YuGothic, Meiryo;
  height:100%;
  display: flex;
  flex-direction: column;
}

/* MENUS */

#shops, #jeans {
  z-index: 20;
}

#pocket, #layer, #pattern, #color {
  display: flex;
  justify-content: center;
}

#pocket button, #layer button, #pattern button, #color button {
  margin: .3em .15em 0 .15em;
}

.svgContainer{
  display: flex;
}

#pocket, #layer{
  width: 50%;
}

.ajinolimited{
  display: none;
}

/* OPTIONS BUTTON */
button:disabled{
  background-color: #bbb!important;
  color: #eee!important;
}

/* COLORS */
.ajino {
  color: #eee !important;
  background-color: #0072bc !important
}

.okayama {
  color: #eee !important;
  background-color: #0db14b !important
}

.aoyama {
  color: #eee !important;
  background-color: #58595b !important
}

.koenji {
  color: #eee !important;
  background-color: #903f98 !important
}

.osaka {
  color: #111 !important;
  background-color: #fff200 !important
}

.kyoto {
  color: #eee !important;
  background-color: #684927 !important
}

.web {
  color: #eee !important;
  background-color: #FA8E43 !important;
}

.momoshop{
  color: #111 !important;
  background-color: #7E0042 !important
}

.white {
  color: #ffffff !important;
  background-color: #ffffff !important;
  -webkit-box-shadow: inset 0px 0px 0px 1px #111;
  -moz-box-shadow: inset 0px 0px 0px 1px #111;
  box-shadow: inset 0px 0px 0px 1px #111
}

.red {
  color: #E60013 !important;
  background-color: #E60013 !important
}

.pink {
  color: #E23688 !important;
  background-color: #E23688 !important
}

.pearl {
  color: #F1AEC3 !important;
  background-color: #F1AEC3 !important
}

.gold {
  color: #ECE95D !important;
  background-color: #ECE95D !important
}

.black {
  color: #000000 !important;
  background-color: #000000 !important
}

.font-ajino {
  color: #0072bc !important
}

.font-okayama {
  color: #0db14b !important
}

.font-aoyama {
  color: #58595b !important
}

.font-koenji {
  color: #903f98 !important
}

.font-osaka {
  color: #fff200 !important;
  text-shadow: 0px 0px 1px #333;
}

.font-kyoto {
  color: #684927 !important
}

.font-web {
  color: #FA8E43 !important;
}

.font-momoshop {
  color: #7E0042 !important;
  text-shadow: 0px 0px 1px #333;
}

.font-black {
  color: #000000 !important
}

/* IMAGES */
#rP, #lP{
  padding: 16px;
  max-width: 49.999999%;
}

.svgundefined{
  fill: rgba(255,255,255,0.0);
}

.svgwhite {
  fill: #fff;
}

.svgred {
  fill: #EB3228;
}

.svgpink {
  fill: #F26284;
}

.svgpearl {
  fill: #F597A5;
}

.svggold {
  fill: #E4DE31;
}

.svgblack {
  fill: #000;
}

.svgajino {
  fill: #0072BC;
}

.svgokayama {
  fill: #0DB14B;
}

.svgaoyama {
  fill: #58595B;
}

.svgkoenji {
  fill: #903F98;
}

.svgosaka {
  fill: #FFF200;
}

.svgkyoto {
  fill: #684927;
}

.svgweb {
  fill: #FA8E43;
}

.svgmomoshop {
  fill: #7E0042;
}


/* PRINT FORM */
#printForm {
  height: 209mm;
  width: 297mm;
  display: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 44mm;
  left: -44mm;
}

.fill-height {
  min-height: 99%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#title, #head, #lPockets, #rPockets, .column {
  min-height: 100%;
  display: flex;
  flex: 1;
}

#head, #lPockets, #rPockets {
  flex-direction: row;
}

#lPockets, #rPockets {
  max-height: 75mm;
}

#title {
  max-height: 15mm;
  background-color: #777777;
  color: #fff;
}

#head{
  max-height: 33mm;
}

.column {
  flex-direction: column;
}

.smallfont {
  font-size: 12px;
}

#title, .line {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: center;
}

#title p, #title a{
  margin: auto;
  font-size: x-large;
}

#title a{
  text-decoration: none;
  color: #fff;
}

.line span {
  min-height: 100%;
  display: inline-flex;
  align-items: center;
}

.line div {
  padding-left: 1em;
  padding-right: 1em;
}

#head, .line div, #rPockets div, #lPockets div {
  border-style: solid;
  border-width: thin;
}

#rPockets div, #lPockets div {
  padding: 0 .5em;
}

#rPockets p, #lPockets p {
  margin: .3em;
}

#rPockets svg, #lPockets svg {
  max-height: 50mm;
  margin: 0 5%;
}

#table {
  width: 105mm;
  border-spacing: 0;
  border-style: solid;
  border-width: thin;
}

#table tr.tableText {
  height: 4mm;
  font-size: .8em;
  align-items: center;
}

#table tr.tableVoid {
  height: 8mm;
}

#table th {
  border-style: solid;
  border-width: thin;
}

.gg-check-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
    float: left;
    margin-right: 1em
}
.gg-check-r::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}

.pocketText{
  writing-mode: vertical-rl;
  text-align: center;
}

.gg-arrow-long-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 60mm;
    height: 6px
}
.gg-arrow-long-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 0;
    bottom: -2px
}
.gg-arrow-long-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-135deg);
    left: 59mm;
    bottom: -2px
}
